{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>登录界面</title>
    <link rel="Stylesheet" href={% static 'css/login.css' %}>
{#    <link rel="shortcut icon" href={% static 'images/favicon.ico' %}>#}
    <link rel="shortcut icon" href="/static/images/favicon.ico">
</head>

<body>
    <div class="log_bg">
        <img src="{% static 'images/login_img.jpg' %}" width="500px" height="500px"
            style="border-radius: 10px;" alt="">
    </div>
    <div class="login">
        <form>
            <div class="head">
                登录页面
            </div>

            <br>
            <input name="fname" class="name" type="text" placeholder="用户名" size="20px" />
            <br>
            <input class="password" type="password" placeholder="密码" />
            <br>
            <!-- <input class="ver" type="text" placeholder="验证码" maxlength="4" size="4" /> -->


            <div class="button">
                <input class="log" type="submit" value="登录" onclick="login()" />
                <input class="signup" type="button" value="注册" />
            </div>
        </form>
    </div>

    <script type="text/javascript">
        function login() {
            alert("登录成功！");
        }
    </script>
</body>

</html>